@import '../../../theme.scss';

.brief {
  margin: 4rem;
  padding: 2rem;
  border-radius: 20% 35% 50% 75%;
  background-color: #fff;
  cursor: pointer;
  @include box-shadow-general;
  img {
    image-rendering: pixelated;
    user-select: none;
    pointer-events: none;
  }
}
