$background-color-general: #d52e3f;
$color-interface: #efa032;
$rose-text-effect-colors: #eb452b, #ffad3b, #46b59b, #017e7f, #052939, #c11a2b, #c11a2b,
  #c11a2b, #c11a2b;

@mixin background-general($color: $background-color-general) {
  background-color: $color;
  background-image: url('../assets/textures/otis-redding.png');
}

@mixin box-shadow-general {
  box-shadow: 0 0.28rem 0.22rem rgba(0, 0, 0, 0.034),
    0 0.67rem 0.53rem rgba(0, 0, 0, 0.048), 0 1.25rem 1rem rgba(0, 0, 0, 0.06),
    0 2.23rem 1.79rem rgba(0, 0, 0, 0.072), 0 4.18rem 3.34rem rgba(0, 0, 0, 0.086),
    0 10rem 8rem rgba(0, 0, 0, 0.12);
}

@mixin rose-text-effect($scale) {
  $rte-colors-length: length($rose-text-effect-colors);
  $rose-text-shadow: null;
  @for $color-number from 1 through $rte-colors-length {
    $offset: $color-number * $scale;
    $rose-text-shadow: $rose-text-shadow
      $offset
      $offset
      0
      nth($rose-text-effect-colors, $color-number)
      #{if($color-number != $rte-colors-length, ',', '')};
  }
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: #fcedd8;
  text-shadow: $rose-text-shadow;
}

@mixin no-select {
  cursor: default;
  user-select: none;
  pointer-events: none;
}
