@import '../../../utilities/theme.scss';

$image-container-scale: 10rem;

.brief {
  width: $image-container-scale;
  height: $image-container-scale;
  margin: 4rem;
  padding: 2rem;
  border-radius: 20% 35% 50% 75%;
  background-color: #fff;
  cursor: pointer;
  @include box-shadow-general;
  img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    @include no-select;
  }
}
