@import '../../utilities/theme.scss';

.subscriptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  @include background-general;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 100;
  }
  .heading {
    margin: 0;
    padding: 5rem 0 10rem;
    font-size: 600%;
    @include rose-text-effect(0.35rem);
    @include no-select;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 82.5%;
    margin: 0;
    padding: 0 0 5rem;
    list-style-type: none;
  }
}
